<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form">
    <h3>Total amount: ${{amount}}</h3>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="First name">
            <mat-error *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
              {{getErrorMessage('firstName', 'required', 'Name is required')}}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input formControlName="lastName" matInput placeholder="Last name">
            <mat-error *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
              {{getErrorMessage('lastName', 'required', 'Last name is required')}}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width">
      <input formControlName="cardNumber" matInput placeholder="Card number">
      <mat-error *ngIf="form.get('cardNumber').invalid && form.get('cardNumber').touched">
        {{getErrorMessage('cardNumber', 'pattern', 'Invalid credit card format')}}
      </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Expiration date">
            <mat-error *ngIf="form.get('date').invalid && form.get('date').touched">
              {{getErrorMessage('date', 'required', 'Date is required')}}
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input type="password" formControlName="cvv" matInput #postalCode maxlength="3" placeholder="CVV">
            <mat-hint align="end">{{postalCode.value.length}} / 3</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button [disabled]="form.invalid" type="submit" mat-raised-button>Pay</button>
  </form>
</div>
