<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <h3>Total amount: ${{amount}}</h3>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input formControlName="firstName" matInput placeholder="First name">
            <mat-error *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
              {{getErrorMessage('firstName')}}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input formControlName="lastName" matInput placeholder="Last name">
            <mat-error *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
              {{getErrorMessage('lastName')}}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="full-width">
      <input formControlName="cardNumber" matInput placeholder="Card number">
      <mat-error *ngIf="form.get('cardNumber').invalid && form.get('cardNumber').touched">
        {{getErrorMessage('cardNumber')}}
      </mat-error>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <app-date-picker></app-date-picker>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input type="password" formControlName="cvv" matInput #limitSymbols maxlength="3" placeholder="CVV">
            <mat-error *ngIf="form.get('cvv').invalid && form.get('cvv').touched">
              {{getErrorMessage('cvv')}}
            </mat-error>
            <mat-hint align="end">{{limitSymbols.value.length}} / 3</mat-hint>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="cards">
      <button [disabled]="form.invalid" type="submit" mat-raised-button>Pay</button>
      <div class="images">
        <img src="https://image.flaticon.com/icons/svg/217/217425.svg">
        <img src="https://image.flaticon.com/icons/svg/217/217423.svg">
        <img src="https://image.flaticon.com/icons/svg/217/217424.svg">
      </div>
    </div>
  </form>
</div>
